.pagesBtn{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    align-items: center;
}

.prevBtn, .nextBtn{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


.prevBtn:hover, .nextBtn:hover{
    background-color: #454545;
    color: #fff;
}